﻿@model ErreurViewModel
@{
    ViewData["Title"] = "Page d'erreur";
}

<h1>Oops!</h1>


<div class="alert alert-danger">
    <h1>Erreur @Model.CodeErreur</h1>
    <p>@Model.Message</p>
    <h6><a asp-controller="Home" asp-action="Index" class="btn btn-danger">Retourner à la page d'accueil</a></h6>
</div>
