﻿@model string

<h1 class="" style="color: #e81e25">Ajouter un Role</h1>
<a asp-action="Index" class="btn btn-danger">
    <i class="fa fa-home"></i>
</a>


<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Creer" method="post">
    <div class="form-group">
        <label for="nom">Nom: </label>
        <input name="nom" class="form-control" />
    </div>
    <button type="submit" class="btn btn-danger">Creer</button>
</form>
