﻿@model Microsoft.EntityFrameworkCore.Internal.InternalDbSet<IdentityRole>
@using Microsoft.AspNetCore.Identity;

<h1 class="" style="color: #e81e25">La liste des roles chez Abton</h1>


    @foreach (var role in Model)
    {
       <div class="col-sm-4">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="text-center">
                        <p class="card-text text-center">@role.Id</p>
                        <p class="card-text text-center">@role.Name</p>
                        <p class="card-text"><a class="btn btn-sm btn-outline-danger" asp-action="ModifierRoleUsager" asp-route-roleId="@role.Id" id="button">Ajouter un utilisateur</a></p>
                        <p>
                            <a class="btn btn-sm btn-danger" asp-action="Supprimer" asp-controller="Roles" asp-route-roleId="@role.Id">Supprimer</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>            
        
    }
    
    

<a asp-action="Creer" class="btn btn-danger">Ajouter un Role</a>