﻿@model RoleMembresViewModel

<h1 class="" style="color: #e81e25">Mise à jour du rôle</h1>
<a asp-action="Index" class="btn btn-danger">
    <i class="fa fa-home"></i>
</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="ModifierRoleUsager">
    <input type="hidden" asp-for="Role" value="@Model.Role" />
    <input type="hidden" asp-for="RoleId" value="@Model.Role" />

    <h2 class="" style="color: #e81e25">Ajouter l'utilisateur au rôle : @Model.Role</h2>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembres.Count() == 0)
        {
            <tr><td colspan="2">Tous les utilisateurs sont des membres</td></tr>
        }
        else
        {
            @foreach (var user in Model.NonMembres)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        
                        <input type="checkbox" name="AddUsers" value="@user.Id">
                        
                    </td>
                </tr>
            }
        }
    </table>
    <h2 class="" style="color: #e81e25">Retirer l'utilisateurs du rôle : @Model.Role</h2>

    <table class="table table-bordered table-sm">
        @if (Model.Membres.Count() == 0)
        {
            <tr><td colspan="2">Tous les utilisateurs ne sont pas des membres </td></tr>
        }
        else
        {
            @foreach (var user in Model.Membres)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="RemoveUsers" value="@user.Id">
                        
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-danger">Sauvegarder</button>
</form>
