﻿@{
    ViewData["Title"] = "Home Page";
}
<section class="section">
    <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/HorizonLong.jpg"  class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Une nouvelle aventure avec Aloy</h5>
                        <a asp-controller="Jeu" asp-action="Liste" class="btn btn-danger">Acheter-le maintenant</a>
                    </div>
                </div>
                <div class="carousel-item">
                  <img src="/images/RatchetLong.jpg"  class="d-block w-100 img-fluid" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Les aventuriers intergalactiques sont de retour en force dans Ratchet& Clank: Rift Apart.</h5>
                    <a asp-controller="Jeu" asp-action="Liste" class="btn btn-danger">Acheter-le maintenant</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="/images/ForzaLong.jpg" class="d-block w-100 img-fluid" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>L'aventure Horizon ultime vous attend !</h5>
                    <a asp-controller="Jeu" asp-action="Liste" class="btn btn-danger">Acheter-le maintenant</a>
                  </div>
                </div>
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="">
            <h3 class="">Jeux et console<strong style="color: #e81e25" > de collection</strong></h3>
        </div>
        <section class="section"></section>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">

                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/Mario.jpg" alt="..."/>
                    </a>
                    <div>
                        <h5>Mario + Rabbids Sparks of Hope</h5>
                        <p class="text-muted">79,99 $</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/SpiderUni.jpg" alt="..."/>
                    </a>
                    <div>
                        <h5>Spider-Man: Miles Morales</h5>
                        <p class="text-muted">59,98 $</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/ReturnalUni.jpg" alt="..."/>
                    </a>
                    <div>
                        <h5>Returnal</h5>
                        <p class="text-muted">59,99 $</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/Zelda.jpg" alt="..."/>
                    </a>
                    <div>
                        <h6 class="text-uppercase">Nouveau</h6>
                        <h5>The Legend of Zelda: Tears of the Kingdom</h5>
                        <p class="text-muted">89,99 $</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/MarioKart.jpg" alt="..."/>
                    </a>
                    <div>
                        <h5>Mario Kart 8 Deluxe</h5>
                        <p class="text-muted">68,99 $</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div>
                    <a asp-action="Liste" asp-controller="Jeu">
                        <img class="img-fluid" src="~/images/Animal.jpg" alt="..."/>
                    </a>
                    <div>
                        <h5>Animal Crossing: New Horizons</h5>
                        <p class="text-muted">79,99 $</p>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</section>