﻿@model PanierViewModel

<h3 class="my-5">
    Panier
</h3>

@if (@Model.ListeJeuxPanier.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th style="visibility: hidden">Image</th>
                <th>Jeu</th>
                <th>Quantité</th>
                <th class="text-right">Prix</th>
                <th class="text-right">Sous-total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListeJeuxPanier)
            {
                <tr>
                    <td><img src="/images/@item.Jeu.UrlImage" width="430" height="440" /></td>
                    <td>@item.Jeu.Nom</td>
                    <td>@item.Quantite</td>
                    <td class="text-right">@item.Jeu.Prix</td>
                    <td class="text-right">
                        @((item.Quantite * item.Jeu.Prix).ToString("c"))
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="SupprimerDuPanier" asp-controller="Panier" asp-route-id="@item.Jeu.Id">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.MontantTotal.ToString("c")
            </td>
        </tr>
    </tfoot>
    </table>
        <a class="btn btn-danger" asp-controller="Panier" asp-action="ViderPanier">Vider le panier</a>
} else
{
    <div class="alert alert-danger" role="alert">
        Votre panier est vide!
    </div>
}
