﻿@model Jeu

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid mt-5 mr-3" src="~/images/@Model.UrlImage" height="450" width="450">
        </div>
        <div class="col-md-8">
            <h1 class="mb-5">@Model.Nom</h1>
            <p class="mb-3"><strong>Genres:</strong> @Model.Genres</p>
            <p class="mb-3"><strong>Prix:</strong> @Model.Prix $</p>
            <p class="mb-3"><strong>PlateFormes:</strong> @Model.PlatesFormes</>
            <p class="mb-3"><strong>Quantité:</strong> @Model.Quantite</p>
            <p class="mb-5"><strong>Développeur:</strong><br /> @Model.Developpeur</p>

            <div class="text-center">
                <a asp-controller="Jeu" asp-action="Liste" class="btn btn-outline-danger">Retourner aux articles</a>
                <a asp-controller="Panier" asp-action="AjouterAuPanier" asp-route-id="@Model.Id" class="btn btn-danger ml-2">Ajouter au panier</a>

            </div>
        </div>
    </div>
</div>