﻿@model X.PagedList.IPagedList<Jeu>
@using X.PagedList.Mvc.Core
<link href="/css/PagedList.css" rel="stylesheet"/>
@{
    ViewData["Titre"] = "Catalogue des jeux";
}

<h1>List</h1>
@if (ViewContext.HttpContext.User.IsInRole("Admin"))
{
  <p>
    <a asp-controller="Jeu" asp-action="Ajouter" class="btn btn-outline-dark">Ajouter un jeu</a>
  </p>  
}

<div class="alert alert-secondary" role="alert">
    <form asp-controller="Jeu" asp-action="Liste">
        <div class="form-group">
            <label for="Recherche">Entrez le nom du jeu: </label>
            <input type="text" name="Recherche" class="form-control" />
            <button type="submit" class="btn btn-danger">Rechercher le jeu</button>
        </div>
    </form>
</div>

<h1>@ViewData["Titre"]</h1>

<ul>
    <li class="row">
        @foreach (var jeu in Model)
        {
            <div class="col-sm-4">
                <div class="card mb-5">
                    @if (jeu.ImageData != null && jeu.ImageData.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(jeu.ImageData);
                        var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                        <img src="@imgSrc" alt="Image"/>
                    }
                    else
                    {
                        <img class="card-img-top" src="~/images/@jeu.UrlImage" width="430" height="440">
                    }                   
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title text-center">@jeu.Nom</h5>
                            <p class="card-text text-center">@jeu.Prix</p>
                            @if (ViewContext.HttpContext.User.IsInRole("Utilisateur"))
                            {
                                <a class="btn btn-danger mt-2" asp-controller="Panier" asp-action="AjouterAuPanier" asp-route-id="@jeu.Id">Ajouter au panier</a>
                            }
                            
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a asp-action="Supprimer" asp-route-id="@jeu.Id" class="btn btn-dark">Supprimer</a>
                            }
                            
                        </div>
                        <div class="text-center">
                            <a asp-controller=Jeu asp-action="Details" asp-route-id="@jeu.Id" class="btn btn-dark mt-2">Voir plus</a>
                            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                            {
                                <a asp-action="Modifier" asp-controller="Jeu" asp-route-id=@jeu.Id class="btn btn-dark mt-2">Modifier</a>
                            }                          
                        </div>
                    </div>                    
                </div>
            </div>
        }
    </li>
</ul>

@Html.PagedListPager(Model, page => Url.Action("Liste",
    new { page, recherche = ViewBag.recherche}))                           