﻿@model CoolGames.Models.Jeu

@{
    ViewData["Title"] = "Modifier le jeu";
}

<h1>@ViewData["titre"]</h1>

<h4>Jeu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Modifier">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSortie" class="control-label"></label>
                <input asp-for="DateSortie" class="form-control" />
                <span asp-validation-for="DateSortie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatesFormes" class="control-label"></label>
                <input asp-for="PlatesFormes" class="form-control" />
                <span asp-validation-for="PlatesFormes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Developpeur" class="control-label"></label>
                <input asp-for="Developpeur" class="form-control" />
                <span asp-validation-for="Developpeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editeur" class="control-label"></label>
                <input asp-for="Editeur" class="form-control" />
                <span asp-validation-for="Editeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genres" class="control-label"></label>
                <input asp-for="Genres" class="form-control" />
                <span asp-validation-for="Genres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prix" class="control-label"></label>
                <input asp-for="Prix" class="form-control" />
                <span asp-validation-for="Prix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantite" class="control-label"></label>
                <input asp-for="Quantite" class="form-control" />
                <span asp-validation-for="Quantite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlImage" class="control-label"></label>
                <input asp-for="UrlImage" class="form-control" />
                <span asp-validation-for="UrlImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input type="file" name="imageFile" asp-for="ImageData" class="form-control-file" />
                @*<span asp-validation-for="ImageData" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Jeu" asp-action="Liste" class="btn btn-outline-danger">Retourner aux jeux</a>
</div>

@section JQueryValidationScripts {
    <partial name="_ValidationScriptsPartial" />
  }
